.menubar {
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.menubar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 5px;
}

.logo {
  display: block;
  width: 84px;
  height: 25px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1179px){
  .menubar div {
    height: 42px;
  }

  .logo {
    width: 58px;
    height: 17px;
  }
}
@media screen and (max-width: 768px){
  .menubar div {
    height: 42px;
  }
}
