.btn {
  display:  inline-block;
  border-width: 1px;
  text-align: center;
  margin-left: 4px;
}

.white {
  color: white;
}

.blue {
  background-color: #77ffe1;
  color: black;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.small {
  line-height: 40px;
  font-size: 16px;
  text-decoration: underline;
}

.large {
  width: 300px;
  height: 53px;
  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-top: 57px;
}

@media screen and (max-width: 1180px) {

  .small {
    width: 180px;
    height: 30px;
    line-height: 35px;
    font-size: 13px;
    margin-left: 2px;
  }

  .large {
    width: 214px;
    height: 36px;
    line-height: 38px;
    font-size: 13px;
    margin-top: 42px;
  }
}

@media screen and (max-width: 840px) {

  .small {
    width: 180px;
    height: 30px;
    line-height: 35px;
    font-size: 13px;
    margin-left: 2px;
  }

  .large {
    width: 214px;
    height: 36px;
    line-height: 38px;
    font-size: 13px;
    margin-top: 92px;
    margin-left: 1px;
  }
}
